
// Databrowser's custom styles with colors/fonts theme from cozy-todos


// Variables

basecolor = #34A6FF
bgcolor = #FCFCFC
bgshadowcolor = #666688
bgcolornav = #F5F5F5
bggrey = #F4F4F4
objectbordercolor = #ebe5e2
orange = #ffa60b
contrastcolor = #5C5
actioncolor = #fe8800
lightgrey = #FAFAFA
darkgrey = #333
grey = #E8E8E8


// Fonts

@font-face
    font-family styled
    src: url('/fonts/maven-pro-light-300.otf');

@font-face
    font-family main
    src: url('/fonts/signika-regular.ttf');


// layout

#nav
    margin 0
    padding 0 10px
    width 200px
    float left
    background-color bgcolornav
    font-family main

#content
    margin-left 200px
    padding 0 10px
    border 0
    background-color bgcolor
    font-family styled
