#nav
  h4 Your data types
  ul
    li
      a(href="#", title="Doctype 1 infos") doctype 1
    li
      a(href="#", title="Doctype 2 infos") doctype 2
    li
      a(href="#", title="Doctype 3 infos") doctype 3

#content
  h1 Data browser (doctype)
  h2 Doctype 1
  ul
    li
      a(href="#") Document 1
    li
      a(href="#") Document 2
    li
      a(href="#") Document 3

  h2 Doctype 2
  ul
    li
      a(href="#") Document 1
    li
      a(href="#") Document 2
    li
      a(href="#") Document 3

